# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Assets/Album Art/368743543611.jpg
Assets/Album Art/368743543611.jpg.meta
Assets/Album Art/5099996492154.jpg
Assets/Album Art/5099996492154.jpg.meta
Assets/Album Art/724354192456.jpg
Assets/Album Art/724354192456.jpg.meta
Assets/Album Art/default.jpg
Assets/Album Art/default.jpg.meta
Assets/Album Art/no_cover.png
Assets/Album Art/no_cover.png.meta
Assets/OGG/368743543611_Dani California_ Red Hot Chili Peppers_Californication.ogg
Assets/OGG/368743543611_Dani California_ Red Hot Chili Peppers_Californication.ogg.meta
Assets/OGG/5099996492154_Ziggy_Stardust_David Bowie_Space Oddity.ogg
Assets/OGG/5099996492154_Ziggy_Stardust_David Bowie_Space Oddity.ogg.meta
Assets/OGG/724354192456_Space Oddity_David Bowie_Best Of Bowie.ogg
Assets/OGG/724354192456_Space Oddity_David Bowie_Best Of Bowie.ogg.meta
